    $headerColor: #212121;
    $main-btn-color: #212121;
    $main-link-color: #2196F3;
    $headingColor: #212121;
    $btn-hover-color: #2196F3;
    $btn-focus-color: #FFFFFF;
    $accentColor: #188ce8;
    $iconColor: #757575;
    $typicalMargin: 10px;
    $mainFont: 'Roboto', 'Verdana', 'Tahoma', sans-serif;